{% extends base_template %}

{% block crud_content %}
    {% include '@PrezentCrud/Common/flashes.html.twig' %}

    {% block crud_form %}

        {% if config.formTheme %}
            {% form_theme form config.formTheme %}
        {% endif %}

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}

            {% block crud_actions %}
                <input type="submit" value="{{ ('form.' ~ config.name ~ '.submit')|trans({}, config.translationDomain) }}" />
                <a class="button secondary" href="{{ path(config.routePrefix ~ 'index', config.routeParameters) }}">{{ ('form.' ~ config.name ~ '.cancel')|trans({}, config.translationDomain) }}</a>
            {% endblock %}
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
