{% extends 'PrezentCrudBundle::layout.html.twig' %}

{% block crud_content %}
    {% block crud_header %}
        <h2>{{ ('crud.' ~ config.name ~ '.edit.title')|trans({}, config.translationDomain) }}</h2>
        {% include 'PrezentCrudBundle:Common:flashes.html.twig' %}
    {% endblock %}

    {% block crud_form %}
        {% if config.formTheme %}
            {% form_theme form config.formTheme %}
        {% endif %}

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}

            {% block crud_actions %}
                <input type="submit" value="{{ ('form.' ~ config.name ~ '.submit')|trans({}, config.translationDomain) }}" />
                <a class="button secondary" href="{{ path(config.routePrefix ~ 'index') }}">{{ ('form.' ~ config.name ~ '.cancel')|trans({}, config.translationDomain) }}</a>
            {% endblock %}
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
