{% extends '@PrezentCrud/layout.html.twig' %}

{% block crud_content %}
    {% block crud_header %}
        <h2>{{ ('crud.' ~ config.name ~ '.' ~ config.action ~ '.title')|trans({}, config.translationDomain) }}</h2>
    {% endblock %}

    {% block crud_grid %}
        {% include '@PrezentCrud/Common/flashes.html.twig' %}

        {% if config.gridTheme %}
            {% grid_theme grid config.gridTheme %}
        {% endif %}

        {{ grid(grid, pager, {'attr': {'class': 'crud-grid'}}) }}
        {{ pagerfanta(pager) }}
    {% endblock %}

    {% block crud_actions %}
        <a class="button" href="{{ path(config.routePrefix ~ 'add', config.routeParameters) }}">{{ ('crud.' ~ config.name ~ '.index.action.add')|trans({}, config.translationDomain) }}</a>
    {% endblock %}

    {% block crud_modals %}
        {% include '@PrezentCrud/Common/modal.html.twig' with {'action': 'delete'} %}
    {% endblock %}
{% endblock %}
