{% extends 'PrezentCrudBundle::layout.html.twig' %}

{% block crud_content %}
    {% block crud_header %}
        <h2>{{ ('crud.' ~ config.name ~ '.index.title')|trans({}, config.translationDomain) }}</h2>
        {% include 'PrezentCrudBundle:Common:flashes.html.twig' %}
    {% endblock %}

    {% block crud_grid %}
        {% if config.gridTheme %}
            {% grid_theme grid config.gridTheme %}
        {% endif %}

        {{ grid(grid, pager, {'attr': {'class': 'crud-grid'}}) }}
        {{ pagerfanta(pager) }}
    {% endblock %}

    {% block crud_actions %}
        <a class="button" href="{{ path(config.routePrefix ~ 'add') }}">{{ ('crud.' ~ config.name ~ '.index.action.add')|trans({}, config.translationDomain) }}</a>
    {% endblock %}

    {% block crud_modals %}
        {% include 'PrezentCrudBundle:Common:modal.html.twig' with {'action': 'delete'} %}
    {% endblock %}
{% endblock %}
